.graph {
  border: 1px solid black;
  height: 250px;
  padding: 0px;
}

.indented {
  text-indent: 20px;
}

.section {
  padding-bottom: 13px;
}

line {
  stroke: #ccc;
}
text {
  text-anchor: middle;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: #666;
  font-size: 16px;
}

/* from https://stackoverflow.com/questions/22530982/html-numbering-with-brackets */
ol.ref {
    counter-reset: list;
}
ol.ref > li {
    list-style: none;
}
ol.ref > li:before {
    content: " [" counter(list) "] ";
    counter-increment: list;
}
